.navbar {
  top: 0;
  left: 0;
  width: 100%;
  position: fixed;
  display: flex;
  backdrop-filter: blur(10px);
  background-color: rgba(16, 15, 15, 0.746);
}

.navbar a {
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  cursor: pointer;
  animation: none;
  animation-delay: 0;
}

.navbar a:last-of-type {
  margin: 9px;
  padding: 5px 12px;
  margin-left: auto;
  background-color: rgb(121 71 250);
  border-radius: 20px;
}
