<div class="contact">
    <img class="main-img" src="https://www.monobank.ua/resources/1.0.21.0-1668697668000/img/eDiya/cat.png">
    <h2>Our Contacts</h2>
    <ul>
        <li>Human support service.</li>
        <li>No answering machines and works.</li>
        <li>Communication only with living people who will crawl out of their skin for you!</li>
        <li>We communicate in messengers that are convenient for you</li>
    </ul>

    <div class="social-media-contacts">
        <a target="_blank" href="https://t.me/monobankbot?start=mono-desktop">
            <img
                src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/82/Telegram_logo.svg/2048px-Telegram_logo.svg.png">
        </a>

        <a target="_blank" href="viber://pa?chatURI=monobank&context=mono-desktop">
            <img
                src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e9/Breezeicons-apps-48-viber.svg/2048px-Breezeicons-apps-48-viber.svg.png" />
        </a>
        <a target="_blank"
            href="https://www.messenger.com/login.php?next=https%3A%2F%2Fwww.messenger.com%2Ft%2F132754177323554%2F%3Fref%3Dmono-desktop%26messaging_source%3Dsource%253Apages%253Amessage_shortlink%26source_id%3D1441792%26recurring_notification%3D0">
            <img
                src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/be/Facebook_Messenger_logo_2020.svg/2048px-Facebook_Messenger_logo_2020.svg.png" />
        </a>
        <a target="_blank"
            href="https://bcrw.apple.com/messages/api/messageprofiles/redirecthelper?service=iMessage&recipient=urn:biz:af617b73-14cc-496b-b591-efb565d3b690&biz-intent-id=mono-desktop&biz-group-id=SERVICE">
            <img
                src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/51/IMessage_logo.svg/2048px-IMessage_logo.svg.png" />
        </a>
    </div>

    <div class="block-with-numbers">
        <p>And we are also happy to receive your requests by phone from any corner</p>
        <hr />
        <div>
            <p>For calls within Ukraine (free of charge)
                <a href=tel:0800205205>0 800 205 205</a>
            </p>
        </div>
        <hr />
        <div>
            <p>For calls from other countries
                <a href=tel:+3804423720n60>+38 044 237 20 60</a>
            </p>
        </div>
    </div>

    <div class="block-with-emails">
        <h4>Be careful, we communicate with clients only from the following addresses:</h4>
        <p><a href="mailto: info@monobank.ua">info@monobank.ua</a> - general questions</p>
        <p><a href="mailto: chargeback@monobank.ua">chargeback@monobank.ua</a> - regarding transaction appeals</p>

        <p><a href="mailto: monitoring@monobank.ua">monitoring@monobank.ua</a> - on monitoring issues</p>
    
        <p><a href="mailto: finmonitoring@monobank.ua">finmonitoring@monobank.ua</a> - on finmonitoring issues</p>
        <p><a href="mailto: vip@monobank.ua">vip@monobank.ua</a> - regarding premium service</p>

        <p><a href="mailto: swift@monobank.ua">swift@monobank.ua</a> - for SWIFT and SEPA transfers</p>
        <p><a href="mailto: acquiring@monobank.ua">acquiring@monobank.ua</a> - on acquiring matters</p>
        <p><a href="mailto: register@monobank.ua">register@monobank.ua</a> - regarding salary projects</p>
    </div>
</div>