<button class="button" (click)="getCurrentExchangeRate()">get</button>

<table>
    <thead>
      <th>Symbol</th> <th>ISO</th> <th>Name</th> <th>Rate Buy</th> <th>Rate sell</th> <th>Rate cross</th>
    </thead>
    <tbody *ngFor="let item of arrResult">
        <tr>
            <td>{{item.symbol}}</td>
            <td>{{item.currencyCodeA}}</td>
            <td>{{item.name}}</td>   
            <td>{{item.rateBuy}}</td>   
            <td>{{item.rateSell}}</td>
            <td>{{item.rateCross}}</td>
        </tr>      
      </tbody>
</table>
