table {
    width: 100%;
    font-size: 23px;
    margin-top: 7px;
    text-align: left;
    font-weight: normal;
    border-collapse: collapse;
}

table thead tr {
    font-size: 13px;
    font-weight: 500;
    color: rgb(122, 122, 122);
    background-color: rgb(244, 244, 244);
}

table thead tr td:first-child,
table tr:nth-child(2n) td:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

table thead tr td:last-child,
table tr:nth-child(2n) td:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

table tbody tr td,
table thead tr td {
    padding: 10px;
}

table thead tr td:nth-child(3),
table thead tr td:last-child,
table tbody tr td:nth-child(3),
table tbody tr td:nth-child(4) {
    text-align: right;
}

table tbody tr td:nth-child(1),
table tbody tr td:nth-child(2) {
    text-align: left;
}

table tbody tr td:first-of-type {
    font-size: 25px;
}

table tr:nth-child(2n) {
    background-color: #f3f3f3;
}

table tbody tr td p {
    margin: 0;
}

table tbody tr td p:last-of-type {
    color: rgb(162, 162, 162);
    font-size: 15px;
}

table tbody tr td:first-child {
    width: 5px;
    text-align: center;
}

.update-button {
    width: 60px;
    height: 60px;
    font-weight: 700;
    font-size: 16px;
    border-radius: 50%;
    background: #fa5255;
    color: #fff;
    text-align: center;
    border: 0;
    position: fixed;
    bottom: 13px;
    right: 13px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    animation: rotation 8s infinite linear;
}

@keyframes rotation {
    from {
        transform: rotate(359deg);
    }

    to {
        transform: rotate(0deg);
    }
}

.update-button:hover {
    background-color: rgb(255 72 72);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.block {
    padding: 17px;
    margin-top: 30px;
    border-radius: 15px;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.block:first-of-type {
    margin-top: 80px;
}

.flag-img {
    width: 20px;
    height: 20px;
    text-align: center;
}

.text-center {
    text-align: center;
}

@media (prefers-color-scheme: dark) {
    .block {
        background-color: rgb(39, 39, 39);
        box-shadow: rgba(8, 8, 9, 0.765) 0px 8px 24px;
    }

    table tbody tr:nth-child(2n) {
        background-color: rgb(51, 51, 51);
    }

    table thead tr {
        background-color: rgb(51, 51, 51);
    }

    table tbody tr:nth-child(2n) {
        background-color: rgb(51, 51, 51);
    }

    table thead tr {
        background-color: rgb(51, 51, 51);
    }
}

@media screen and (min-width:400px) {
    table tbody {
        font-size: 17px;
    }
}

@media screen and (min-width:1000px) {
    table tbody {
        font-size: 30px;
    }

    table tbody tr td:first-child {
        font-size: 40px;
    }

    .block {
        font-size: 30px;
    }

    .exhange-rate-component {
        width: 50%;
        margin-left: auto;
        margin-right: auto;
    }
}