table {
    width: 100%;
    margin-top: 70px;
    text-align: center;
    border-collapse: collapse;
    background-color: whitesmoke;
    border-radius: 10px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

table thead {
    font-weight: bold;
    font-size: 23px;
}

@media (prefers-color-scheme: dark) {
    table {
        color: white;
        background-color: rgb(39, 39, 39);
        box-shadow: rgba(8, 8, 9, 0.765) 0px 8px 24px;
    }
}