<div class="signInOut-block">
    <img src="https://mir-s3-cdn-cf.behance.net/project_modules/fs/db66fb141267467.625051dc39f76.png">
    <h2>Creating Account</h2>
    <form [formGroup]="signUpForm" (ngSubmit)="signUp()">
        <div class="field field_v1">
            <label for="email" class="ha-screen-reader">Email</label>
            <input id="email" class="field__input" type="email" formControlName="email"placeholder="taras.shevchenko@gmail.com">
            <span class="field__label-wrap" aria-hidden="true">
                <span class="field__label">Email</span>
            </span>
        </div>

        <div class="field field_v1">
            <label for="email" class="ha-screen-reader">Password</label>
            <input id="email" class="field__input" type="password" formControlName="password" placeholder="qwerty">
            <span class="field__label-wrap" aria-hidden="true">
                <span class="field__label">Password</span>
            </span>
        </div>

        <button class="fill-button" type="submit">Create</button>
        <button class="only-text-button" routerLink="/SignIn">Sign In</button>
    </form>
</div>